<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pretty Patty Generator</title>
  </head>
  <body>
    <h1>Pretty Patty Generator</h1>
    <h2>Menu</h2>
    <ul>
      <% menu.forEach((item) => { %>
      <li><%= item %></li>
      <% }) %>
    </ul>
  </body>
</html>
